@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Identity Server</h1>
    <p>Browse the <a href="~/.well-known/openid-configuration">discovery document</a></p>
</div>
